<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Diabetes Prediction System 🧠</h1>

<div class="form">
    <input id="pregnancies" placeholder="Pregnancies">
    <input id="glucose" placeholder="Glucose">
    <input id="bp" placeholder="Blood Pressure">
    <input id="skin" placeholder="Skin Thickness">
    <input id="insulin" placeholder="Insulin">
    <input id="bmi" placeholder="BMI">
    <input id="dpf" placeholder="DPF">
    <input id="age" placeholder="Age">

    <button onclick="predict()">Predict</button>
</div>

<h2 id="result"></h2>

<script src="/static/script.js"></script>

</body>
</html>